# front
front/node_modules
front/.next/
front/.yarn/cache/
*.jpg

# back
.venv
.direnv
back/fixture/*.json
back/**/migrations/*.py
# bavk/**/__pycache__/*.pyc

!/back/config/media/
/back/config/media/*
!/back/config/media/.gitkeep

__pycache__
media/
back/config/media/remote_repo
!__init__.py

# production
/build

# misc
.DS_Store
# db.sqlite3
*.sqlite3

# local env files
# .env*.local
.env.product
.env
.envrc
# back/.envrc

# vercel
.vercel

# typescript
next-env.d.ts